body{
    width:100%;
}

.container{
    width:100%;
    background-color: yellow;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-gap: 20px;

}

.container div{
    height:160px;
    width:100px;
    border:2px solid black;
    padding:5px;
}