.container{
    display:grid;
}

.box{
    height:200px;
    width:200px;
    border:2px solid black;
    padding:10px;
}

/* .box1{
    background-color: red; */
    /* grid-column-start: 2;
    grid-column-end: 3; */

    /* grid-column: 2/3; */


    /* grid-row-start: 2;
    grid-row-end: 3; */

    /* grid-row:2/3; */
/* } */

/* .box2{
    background-color:aqua;
    grid-column-start: 1;
    grid-column-end: 2;
    
    grid-row-start: 1;
    grid-row-end: 2;
}

.box3{
    background-color: green;
    grid-column-start: 3;
    grid-column-end: 3;
    
    grid-row-start: 3;
    grid-row-end: 3;
}

.box4{
    background-color: orange;
    grid-column-start: 2;
    grid-column-end: 2;
    
    grid-row-start: 2;
    grid-row-end: 2;
}

.box5{
    background-color:blue;
    grid-column-start: 1;
    grid-column-end: 2;
    
    grid-row-start: 1;
    grid-row-end: 2;
} */

/* .box6{
    background-color:yellow;
    grid-column-start: 1;
    grid-column-end: 2;
    
    grid-row-start: 1;
    grid-row-end: 2;
} */

/* .box7{
    background-color:yellowgreen;
    grid-column-start: 3;
    grid-column-end: 3;
    
    grid-row-start: 3;
    grid-row-end: 3;
} */



.box1 {
    background-color: red;
    /* grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3; 
            OR      */
    grid-column: 2/3;
    grid-row: 2/3;
}

.box5 {
    background-color: orange;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
.box6
{
    background-color: green;
    grid-row:1/1;
    grid-column:3/3 ;
}

.box3
{
    background-color: aqua;
    grid-row: 2/3;
    grid-column: 3/3;
}