.box{
    height:200px;
    width:200px;
    border:2px solid black;
    background-color: red;

    /* all tarsiton property */
    /* transition-property: all;
    transition-timing-function: ease;
    transition-duration: 3s;
    transition-delay: 3ms; */

    transition:2s all ease 1s;
    transform:rotate(30deg);
    /* transform: translateX(100px);
    transform:translateY(100px); */
}



.box:hover{
    background-color: yellow;
}